#header {
  min-height: 300px;
  border: thin solid red;
}

#header #top {
  background-color: purple;
}

#header #bottom {
  background-color: green;
}

#me {
  width: 120px;
  height: 120px;
}

#nav {
  font-size: 20px;
  position: absolute;
  top: 80%;
  right: 5%;
  text-align: right;
}

#nav a {
  padding: 5px;
  margin: 5px;
  color: white;
}
