#header {
  border: none;
  position: relative;
}

#header #top {
  height: 30px;
}

#header #bottom {
  height: 270px;
}

#me {
  position: absolute;
  top: 60%;
  left:5%;
}

#name{
  font-size: 32px;
  line-height: 32px;
}
