:root {
    color-scheme: dark light;
}

* {
    box-sizing: border-box;
}

body {
    font-family: monospace;
    font-size: 14px;
    margin: 0 auto;
}

h1, h2, h3 {
    margin: 0;
}

ol {
    width: max-content;
}

.container > legend {
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

fieldset.container {
    display: grid;
    grid: auto-flow dense / repeat(5, 1fr);
    grid-gap: 1vh 1vw;
}

fieldset fieldset {
    border-width: 1px;
}

fieldset legend {
    margin: 10px;
    padding: 10px;
    background-color: black;
    color: white;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    display: block;
    min-width: 200px;
    border: 1px solid black;
}

li {
    list-style-position: outside;
    margin: 1vh 0;
    line-height: 2em;
}

fieldset.projects {
    grid: auto-flow dense / repeat(4, 1fr);
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

fieldset.projects fieldset {
    padding: 1vh 1vw;
}

span.tiny {
    margin-left: 10px;
    font-size: 8px;
}

fieldset fieldset:hover {
    animation: rainbow 7s infinite ease-in-out;
}

fieldset fieldset:hover legend {
    animation: rainbow 7s infinite ease-in-out;
}

@keyframes rainbow {
    0% {
        border: 1px solid red;
    }
    8% {
        border: 1px solid orange;
    }
    16% {
        border: 1px solid yellow;
    }
    25% {
        border: 1px solid green;
    }
    33% {
        border: 1px solid blue;
    }
    41% {
        border: 1px solid indigo;
    }
    50% {
        border: 1px solid violet;
    }
    58% {
        border: 1px solid violet;
    }
    66% {
        border: 1px solid indigo;
    }
    75% {
        border: 1px solid blue;
    }
    83% {
        border: 1px solid green;
    }
    91% {
        border: 1px solid yellow;
    }
    100% {
        border: 1px solid red;
    }

}

@media (max-width: 1000px) {
    fieldset.container {
        grid-template-columns: 1fr 1fr;
        grid-gap: 3vh 3vw;
    }

    fieldset legend {
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }

    li {
        padding: 1vh;
        margin: 2vh 0;
    }

    li a {
        padding: 1vh;
    }
}

@media (max-width: 600px) {
    fieldset.container {
        grid-template-columns: 1fr;
        grid-gap: 3vh 3vw;
    }

    fieldset legend {
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }

    li {
        padding: 1vh;
        margin: 2vh 0;
    }

    li a {
        padding: 1vh;
    }
}

@media print {

    * {
        padding: 1px !important;
        margin: 1px !important;
        text-shadow: none !important;
    }

    body {
        font-size: 11px;
        padding: 0;
        margin: 0;
    }

    fieldset {
        border: none;
        display: block;
    }

    fieldset legend {
        border: none;
        text-align: left;
    }

    ul, ol {
        list-style: none;
    }
}

/*.fixed-size {*/
/*    min-width: 140px;*/
/*    min-height: 140px;*/
/*    font-size: 1.4em;*/
/*    margin: 0 auto;*/
/*}*/
