*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: monospace;
    font-size: 13px;
}

ol a {
    margin: 3px 0;
    display: inline-block;
}

main, section.projects, section.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section.projects .project-list,
section.skills .skill-list {
    margin: 0 10px;
}
