:root {
    --img-arrow-dark: url(../assets/a-dark.svg);
    --img-arrow-light: url(../assets/a-light.svg);
}
:root[data-scheme="dark"] {
    --img-arrow: var(--img-arrow-dark);
}

:root[data-scheme="light"] {
    --img-arrow: var(--img-arrow-light);
}

.arrow {
    height: 60px;
    width: 60px;
    background: var(--img-arrow) no-repeat fixed;
}
