.box {
    width: 120px;
    height: 100px;

    &.medium {
        width: 180px;
        height: 140px;
    }

    &.thin {
        height: 40px;
    }

    &.light {
        font-weight: normal;
    }

    &.wide {
        width: 250px;
    }

    &.large {
        width: 300px;
        height: 200px;
    }

    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    flex: 1 0 auto;

    &.company:first-child,
    &.highlight,
    &.highlight * {
        background-color: var(--color-accent-1);
        color: var(--color-black);

        &.highlight-1,
        &.highlight-1 * {
            background-color: var(--color-accent-1);
        }

        &.highlight-2,
        &.highlight-2 * {
            background-color: var(--color-accent-2);
        }

        &.highlight-3,
        &.highlight-3 * {
            background-color: var(--color-accent-3);
        }

        &.highlight-4,
        &.highlight-4 * {
            background-color: var(--color-accent-4);
        }
    }



    @media (prefers-color-scheme: dark) {
        background-color: #00000013;
        /* color: var(--color-black); */
    }

    @media (prefers-color-scheme: light) {
        background-color: #00000013;
        /* color: var(--color-black); */
    }
}