.box {
    width: 120px;
    height: 100px;

    &.medium {
        width: 180px;
        height: 140px;
    }

    &.thin {
        height: 40px;
    }

    &.light {
        font-weight: normal;
    }

    &.wide {
        width: 350px;
    }

    &.large {
        width: 350px;
        height: 300px;
    }

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--scheme-text);
}
@media (max-width: 600px) {
    .box,
    .box.medium,
    .box.wide,
    .box.thin {
        max-width: 400px;
    }
}
