.box {
    width: 120px;
    height: 100px;

    &.medium {
        width: 180px;
        height: 140px;
    }

    &.thin {
        height: 40px;
    }

    &.light {
        font-weight: normal;
    }

    &.wide {
        width: 250px;
    }

    &.large {
        width: 300px;
        height: 200px;
    }

    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    &.company:first-child,
    &.highlight,
    &.highlight * {
        background-color: var(--scheme-accent, var(--color-accent-1));
        color: var(--scheme-text);

        &.h\:1,
        &.h\:1 * {
            background-color: var(--scheme-accent, var(--color-accent-1));
        }

        &.h\:2,
        &.h\:2 * {
            background-color: var(--scheme-accent, var(--color-accent-2));
        }

        &.h\:3,
        &.h\:3 * {
            background-color: var(--scheme-accent, var(--color-accent-3));
        }

        &.h\:4,
        &.h\:4 * {
            background-color: var(--scheme-accent, var(--color-accent-4));
        }
    }

    border: 1px solid var(--scheme-accent);

    @media (max-width: 600px) {

        &,
        &.medium,
        &.wide,
        &.thin {
            width: 100%;
        }
    }
}