/* clock */
.clock {
    justify-content: center;

    & .analog {
        height: 70px;
        width: 150px;
    }

    .analog.hours,
    .analog.minutes,
    .analog.seconds {
        filter: contrast(1);
        transform: scale(1);
        background: conic-gradient(from 0deg, var(--color-black), 360deg, var(--color-white));
    }
}
