.clock {
    & .analog {
        height: 50px;
        width: 50px;
        border-radius: 10px;
        box-shadow: 1px 1px 11px var(--color-accent-2);
    }

    .analog.hours,
    .analog.minutes,
    .analog.seconds {
        filter: contrast(1);
        transform: scale(1);
        background: conic-gradient(from 0deg, var(--color-black), 360deg, var(--color-white));
    }

    @media (max-width: 600px) {
        & .analog {
            width: 100%;
        }
    }
}
