.clock {
    max-width: 360px;
    display: flex;
    gap: 0;

    .analog & {
        gap: 1rem;
    }

    & .analog {
        height: 65px;
        width: 65px;
        border-radius: 10px;
        box-shadow: 1px 1px 3px var(--scheme-text);
    }

    .analog.hours,
    .analog.minutes,
    .analog.seconds {
        filter: contrast(1);
        transform: scale(1);
        background: conic-gradient(from 0deg, var(--scheme-text), 360deg, var(--scheme-background));
    }

    & .digital {
        font-size: calc(var(--base-font-size) * 5);
        text-align: center;
        color: var(--scheme-text);
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    }
}

@media (max-width: 600px) {
}

@media (prefers-color-scheme: light) {
    .clock .analog {
        box-shadow: 1px 1px 1px var(--scheme-text);
    }
}
