.stack {
    width: calc(50% - 2rem);
    .level {
        gap: 1rem;
        .item {
            display: flex;
            width: 100px;
            height: 60px;
            padding-bottom: 1rem;
            align-items: end;
            justify-content: center;
            border-radius: 4px;
            flex: 1 0 auto;

            @media (prefers-color-scheme: dark) {
                background-color: #0000000a;
            }

            @media (prefers-color-scheme: light) {
                background-color: #0000000a;
            }
        }
    }
}
