.nmr {
    .row > .col:first-child {
        flex: 0 1 auto;
    }

    .col {
        width: 200px;
    }
}

@media (max-width: 600px) {
    .nmr {
        .flex {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
        }
        .box {
            width: fit-content;
            height: fit-content;
            padding: 1rem;
        }
        .col {
            /* width: 100%; */
            max-width: 100px;
        }
    }
}
