.work-experience {
    width: calc(25% - 2rem);
    min-height: 500px;
    /* flex: 1 1 auto; */
    border: 1px solid var(--scheme-text);
    padding: 2rem;
    /* box-shadow: 4px 4px 5px var(--scheme-border); */
    border-radius: 4px 16px;
    /* overflow-y: scroll; */

    .location {
        border-bottom: 1px solid var(--scheme-text);
        padding: 0.5rem;
    }
}
@media (max-width: 600px) {
    .work-experience {
        width: calc(100% - 4rem);
        min-height: 300px;
    }
}
