:root[data-scheme="dark"] {
    --scheme-background: var(--black-2);
    --scheme-text: var(--white-5);
    --scheme-heading: var(--white-8);
    --scheme-border: var(--black-3);
    --theme-tag: var(--black-4);
}

html[data-scheme="dark"] {
    background-color: var(--scheme-background);
    color: var(--scheme-text);
}
