:root[data-scheme="dark"] {
    --scheme-background: var(--black-2);
    --scheme-text: var(--white-8);
    --scheme-heading: var(--white-2);
    --scheme-accent: var(--white-4);
    --scheme-border: var(--black-4);
    --scheme-hover: var(--white-6);
}

html[data-scheme="dark"] {
    background-color: var(--scheme-background);
    color: var(--scheme-text);

    .\:hc\:accent:hover {
        color: var(--scheme-hover);
    }

    .t\:dim {
        color: var(--gray-7);
    }
} 