:root[data-theme="gray"] {
    --theme-primary: var(--gray-0);
    --theme-light: var(--gray-8);
    --theme-dark: var(--black-2);
    --theme-accent-dark: var(--black-1);
    --theme-accent-light: var(--white-4);
    --theme-border: var(--gray-4);
    --theme-tag: var(--gray-5);

}

/* Light scheme + gray theme */
html[data-scheme="light"][data-theme="gray"] {
    --scheme-background: var(--theme-light);
    --scheme-text: var(--black-4);
    --scheme-heading: var(--theme-primary);
    --scheme-accent: var(--theme-accent-light);
    --scheme-border: var(--theme-border);
    --theme-tag: var(--gray-5);
}

/* Dark scheme + gray theme */
html[data-scheme="dark"][data-theme="gray"] {
    --scheme-background: var(--theme-dark);
    --scheme-text: var(--white-4);
    --scheme-heading: var(--theme-primary);
    --scheme-accent: var(--theme-accent-dark);
    --scheme-border: var(--theme-border);
    --theme-tag: var(--gray-6);
}
