:root {
    color-scheme: dark light;
    --base-font-size: 10px;
    font-size: calc(var(--base-font-size) * 1);
    --primary-color-accent: orange;
    --color-black: #000;
    --color-white: #fff;
    --color-border: hsl(240 5.9% 70%);
    --color-gray: grey;
    --color-accent-1: orange;
    --color-accent-2: teal;
    --color-accent-3: hotpink;
    --color-accent-4: firebrick;
    --color-tag-1: rgb(0, 63, 0);
    --color-tag-2: rgb(0, 0, 63);
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color-background: #1e0a5d;
        --primary-color-heading-background: #33033a;
        --primary-color-text: #ffffffdc;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --primary-color-background: #a16388dc;
        --primary-color-heading-background: #da4a75;
        --primary-color-text: #000000dc;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

html {
    background-color: var(--primary-color-background);
}

body {
    padding: 1rem 0;
    margin: 20vh 2vw;

    font-family: monospace;
    font-size: 1.2em;
    color: var(--primary-color-text);
    background-color: var(--primary-color-background);

    .container {
        padding: 10vw 2vw;
        width: 100%;
    }

    & div,
    & section {
        display: block;
    }

    .heading {
        /* background-color: var(--primary-color-heading-background); */
        color: var(--primary-color-text);
        text-shadow: 4px 4px 10px var(--color-black);
        font-size: 7rem;
        text-align: center;
        @media (prefers-color-scheme: light) {
            text-shadow: none;
            font-weight: bold;
        }
    }

    .subheading {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2rem;
        padding: 1rem 0;

        @media (prefers-color-scheme: dark) {
            & {
                text-shadow: 1px 1px 1px var(--color-black);
            }
        }
    }

    .minorheading {
        text-transform: uppercase;
        padding: 0.5rem 0;
        font-size: 1.5rem;
        font-weight: 500;
    }

    .near-heading {
        position: relative;
        top: -1rem;
        color: silver;

        @media (prefers-color-scheme: light) {
            color: #333;
        }
    }

    ul {
        list-style: none;

        li {
            border-left: 2px solid transparent;

            padding: 4px 8px;

            &:hover {
                border-left: 2px solid var(--primary-color-accent);
            }
        }
    }

    button {
        cursor: pointer;
        padding: 4px;
    }

    a {
        text-shadow: 0 0 1px var(--color-black);
        font-weight: 500;
        padding: 1rem;
        transition: all 0.3s ease-in-out;
        text-decoration: none;

        &:hover {
            background-color: var(--color-accent-1);
            color: var(--color-black);
            text-decoration: wavy;

            & * {
                background-color: var(--color-accent-4);
            }
        }
    }

    .tags {
        display: flex;
        justify-content: right;
        font-size: 0.8rem;

        .tag {
            padding: 0.3rem 0.5rem;
            background-color: #00000025;

            *:hover & {
                background-color: #00000025;
            }
        }
    }
}

fieldset {
    width: clamp(300px, 100%, 800px);
    padding: 2rem;
    margin: 2rem 0;

    & & {
        width: clamp(250px, 100%, 700px);
        margin: 2rem auto;
    }
}

.flex {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    &.vflex {
        flex-direction: column;
    }
}

.lists {
    .list-item {
        min-width: 300px;
    }
}

@media (max-width: 600px) {
    body {
        max-width: 60mm;
    }

    .flex {
        flex-direction: column;
    }

    a {
        background-color: var(--primary-color-background);
        color: var(--primary-color-text);
        text-decoration: underline;
    }
}
