:root {
    color-scheme: dark light;
    --base-font-size: 10px;
    font-size: calc(var(--base-font-size) * 1);
    --primary-color-accent: orange;
    --color-black: #000;
    --color-white: #fff;
    --color-border: hsl(240 5.9% 70%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color-background: #463770dc;
        --primary-color-heading-background: #3d0463dc;
        --primary-color-text: #ffffffdc;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --primary-color-background: #a16388dc;
        --primary-color-heading-background: #da4a75;
        --primary-color-text: #000000dc;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

body {
    padding: 1rem 0;
    margin: auto;
    font-family: monospace;
    font-size: 1.2em;
    color: var(--primary-color-text);
    background-color: var(--primary-color-background);

    .container {
        border-top: 1px dotted var(--color-border);
        border-bottom: 1px dotted var(--color-border);
        width: 100%;

        .container-item {
            padding: 4rem 1rem;
            margin: -1rem;
            margin-right: auto;
            margin-left: auto;
            width: 100%;
            max-width: 1200px;
            border-left: 1px dotted var(--color-border);
            border-right: 1px dotted var(--color-border);
        }
    }

    & div,
    & section {
        display: block;
    }

    .heading {
        background-color: var(--primary-color-heading-background);
        color: var(--primary-color-text);
        padding: 1rem;
        font-size: 3rem;
        text-align: center;
    }

    ul {
        list-style: none;

        li {
            border-left: 2px solid transparent;

            padding: 4px 8px;

            &:hover {
                border-left: 2px solid var(--primary-color-accent);
            }
        }
    }

    button {
        cursor: pointer;
        padding: 4px;
    }

    a {
        text-shadow: 0 0 1px var(--color-black);
        font-weight: 500;
        padding: 1rem;
        transition: all 0.3s ease-in-out;
        text-decoration: none;

        &:hover {
            background-color: var(--primary-color-background);
            color: var(--primary-color-text);
            text-decoration: wavy;
        }
    }
}

fieldset {
    width: clamp(300px, 100%, 800px);
    padding: 2rem;
    margin: 2rem 0;

    & & {
        width: clamp(250px, 100%, 700px);
        margin: 2rem auto;
    }
}

.flex {
    display: flex;
    gap: 1vh 2vw;
    flex-wrap: wrap;

    &.vflex {
        flex-direction: column;
    }
}

.grid {
    display: grid;
    gap: 1vh 2vw;

    &.grid2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

.lists {
    .list-item {
        min-width: 300px;
    }
}

@media (max-width: 600px) {
    body {
        max-width: 60mm;
    }

    .grid {
        grid-template-columns: 1fr;

        .grid2 {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .flex {
        flex-direction: column;
    }

    a {
        background-color: var(--primary-color-background);
        color: var(--primary-color-text);
        text-decoration: underline;
    }
}
