:root {
    color-scheme: light dark;
    --base-font-size: 10px;
    font-size: calc(var(--base-font-size) * 1);
    --primary-color-accent: var(--orange-9);
    --color-black: var(--black-2);
    --color-white: var(--white-8);
    --color-border: hsl(240 5.9% 70%);
    --color-gray: var(--gray-5);
    --color-accent-1: var(--orange-9);
    --color-accent-2: var(--burgundy-9);
    --color-accent-3: var(--magenta-9);
    --color-accent-4: var(--red-9);
    --color-tag-1: var(--green-9);
    --color-tag-2: var(--navy-9);

    --color-slate-100: oklch(96.8% 0.007 247.896);
    --color-slate-400: oklch(70.4% 0.04 256.788);
    --color-slate-500: oklch(55.4% 0.046 257.417);

    --color-stone-400: oklch(70.9% 0.01 56.259);
    --color-stone-500: oklch(55.3% 0.013 58.071);
    --color-stone-600: oklch(44.4% 0.011 73.639);
    --color-stone-700: oklch(37.4% 0.01 67.558);
    --color-stone-800: oklch(26.8% 0.007 34.298);
    --color-stone-900: oklch(21.6% 0.006 56.043);

    --color-dim-dark: var(--gray-5);
    --color-dim-light: var(--gray-5);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

body {
    padding: 1rem 0;

    font-family: monospace;
    font-size: 1.2em;
    color: var(--primary-color-text);
    background-color: var(--primary-color-background);

    .container {
        padding: 2vw;
        width: 100%;
        min-height: 100dvh;
        margin-bottom: 50vh;
    }

    & div,
    & section {
        display: block;
    }

    .heading {
        color: var(--primary-color-text);
        text-shadow: 0 10px 10px var(--color-black);
        font-size: 5rem;
        text-align: center;
        letter-spacing: 2dvw;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 900;
        align-content: center;

        @media (prefers-color-scheme: light) {
            text-shadow: none;
        }
    }

    .subheading {
        font-weight: bold;
        font-size: 2rem;
        padding: 1rem 0;

        @media (prefers-color-scheme: dark) {
            & {
                text-shadow: 1px 1px 1px var(--color-black);
            }
        }
    }

    .minorheading {

        padding: 0.5rem 0;
        font-size: 1.5rem;
        font-weight: 500;
    }

    .near-heading {
        position: relative;
        top: -1rem;
        color: silver;

        @media (prefers-color-scheme: light) {
            color: #333;
        }
    }

    ul {
        list-style: none;

        li {
            border-left: 2px solid transparent;

            padding: 4px 8px;

            &:hover {
                border-left: 2px solid var(--primary-color-accent);
            }
        }
    }

    button {
        cursor: pointer;
        padding: 4px;
    }

    a {
        text-shadow: 0 0 1px var(--color-black);
        font-weight: 500;
        padding: .1rem;
        transition: all 0.3s ease-in-out;
        text-decoration: none;
        color: var(--primary-color-text);

        &:hover {
            background-color: var(--scheme-text);
            color: var(--scheme-background);
            text-decoration: wavy;

            & * {
                background-color: var(--color-accent-4);
            }
        }
    }

    .tags {
        display: flex;
        /* justify-content: right; */
        font-size: 0.8rem;

        .tag {
            padding: 0.3rem 0.5rem;
            background-color: #00000025;

            *:hover & {
                background-color: #00000025;
            }
        }

        &.a\:l {
            justify-content: left;
        }
    }
}

span.tag {
    padding: 0.1rem;
    margin: 0 .1rem;
}

fieldset {
    width: clamp(300px, 100%, 800px);
    padding: 2rem;
    margin: 2rem 0;

    & & {
        width: clamp(250px, 100%, 700px);
        margin: 2rem auto;
    }
}

.flex {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    &.vflex {
        flex-direction: column;
    }

    &.f\:ac\:l {
        align-content: flex-start;
        justify-content: flex-start;
    }

    &.f\:shrink {
        flex-shrink: 1;
    }

    &.f\:reverse {
        flex-direction: row-reverse;
    }

    &.f\:v {
        flex-direction: column;

        &.f\:reverse {
            flex-direction: column-reverse;
        }
    }

    &.f\:sb {
        justify-content: space-between;
    }
}

.m\:v\:2 {
    margin: 2rem 0;
}

.ta\:l {
    text-align: left;

    .flex & {
        justify-content: flex-start;
    }
}

.ta\:r {
    text-align: right;

    .flex & {
        justify-content: flex-end;
    }
}

.tt\:u {
    text-transform: uppercase;
}

.fw\:b {
    font-weight: 900;
}

.vspacer {
    height: 4rem;
}

.hspacer {
    width: 4rem;
}

.gap\:1 {
    gap: 1rem;
}

.gap\:2 {
    gap: 2rem;
}

.gap\:4 {
    gap: 4rem;
}

.w\:40p {
    width: 40%;
}

.margin\:1 {
    margin: 1rem;
}

.padding\:1 {
    padding: 1rem;
}

.border {
    border: 2px solid var(--color-black);

    &.b\:1 {
        border-width: 1px;
    }
}

.grid {
    display: grid;

    &.g\:2 {
        grid-template-columns: auto auto;
    }

    &.grid\:3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

.height {
    &.h\:100d {
        height: 100dvh;
    }

    &.h\:96d {
        height: 96dvh;
    }

    &.h\:2r {
        height: 2rem;
    }
}

.width {
    &.w\:20d {
        width: 20dvw;
    }

    &.w\:80d {
        width: 80dvw;
    }

    &.w\:50d {
        width: 50dvw;
    }

    &.w\:20p {
        width: 20%;
    }

    &.w\:80p {
        width: 80%;
    }

    &.w\:50p {
        width: 50%;
    }

}

.ontop {
    background-color: var(--primary-color-background);

    &.z\:100 {
        z-index: 100;
    }
}

.scroll\:y {
    overflow-y: auto;
}

.sticky {

    position: sticky;

    &.s\:t0 {
        top: 0;
    }

    &.s\:l0 {
        left: 0;
    }
}

.button {
    cursor: pointer;

    &.color-button {
        font-size: 8px;
        height: 2rem;
        /* width: 2rem; */
        display: block;
        border: 2px solid var(--gray-5);
        color: var(--white-5);

        &.cb\:light {
            background-color: var(--white-0);
            color: var(--black-3);
        }

        &.cb\:dark {
            background-color: var(--black-3);
        }

        &.cb\:teal {
            background-color: var(--teal-5);
        }

        &.cb\:pink {
            background-color: var(--magenta-5);
        }

        &.cb\:gray {
            background-color: var(--gray-5);
        }
    }
}

@media (max-width: 600px) {
    body {
        min-width: 450px;
        max-width: 600px;
        width: 100vw;
    }

    .flex {
        display: flex;
        flex-direction: column !important;

        &.f\:ac\:l {
            align-content: center;
            justify-content: center;
        }
    }

    .ta\:l {
        text-align: center;

        .flex & {
            justify-content: center;
        }
    }

    .ta\:r {
        text-align: center;

        .flex & {
            justify-content: center;
        }
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr !important;
        justify-items: center;

        &.g\:2 {
            grid-template-columns: 1fr !important;
        }

        &.grid\:3 {
            grid-template-columns: 1fr !important;
        }
    }

    .heading {
        font-size: 2rem;
        letter-spacing: 0;
    }

    .clock {
        width: 10rem !important;
    }

    .width {
        &.w\:20d {
            width: 100dvw;
        }

        &.w\:80d {
            width: 100dvw;
        }

        &.w\:50d {
            width: 100dvw;
        }

        &.w\:20p {
            width: 100%;
        }

        &.w\:80p {
            width: 100%;
        }

        &.w\:50p {
            width: 100%;
        }
    }

    .margin\:1 {
        margin: 1rem 0;
    }

    .padding\:1 {
        padding: 1rem 0;
    }

    .sticky {
        position: inherit;
    }

    a {
        color: var(--scheme-text);
        text-decoration: underline;
    }
}