:root[data-scheme="light"] {
    --scheme-background: var(--white-8);
    --scheme-text: var(--black-4);
    --scheme-heading: var(--black-2);
    --scheme-accent: var(--black-4);
    --scheme-border: var(--gray-4);
    --scheme-hover: var(--black-6);
    --primary-color-text: var(--black-4);
    --primary-color-background: var(--white-8);
    --primary-color-accent: var(--black-4);
    --theme-tag: var(--gray-3);
}

html[data-scheme="light"] {
    background-color: var(--scheme-background);
    color: var(--scheme-text);

    .\:hc\:accent:hover {
        color: var(--scheme-hover);
    }

    .t\:dim {
        color: var(--gray-5);
    }
    
    span.tag, .tag {
        background-color: var(--scheme-border);
        color: var(--scheme-text);
    }
}

html[data-scheme="light"] .near-heading {
    color: var(--gray-5);
}

html[data-scheme="light"] span.tag,
html[data-scheme="light"] .tag {
    background-color: var(--black-3);
    color: var(--white-9);
}

html[data-scheme="light"] *:hover span.tag,
html[data-scheme="light"] *:hover .tag {
    background-color: var(--black-2);
    color: var(--white-9);
} 