:root[data-theme="magenta"] {
    --theme-primary: var(--magenta-5);
    --theme-light: var(--magenta-8);
    --theme-dark: var(--magenta-1);
    --theme-accent-dark: var(--magenta-0);
    --theme-accent-light: var(--magenta-7);
    --theme-border: var(--magenta-4);
    --theme-text-background-dark: var(red-4);
    --theme-text-background-light: var(magenta-10);
    --theme-tag: var(--magenta-3);
}

/* Light scheme + magenta theme */
html[data-scheme="light"][data-theme="magenta"] {
    --scheme-background: var(--theme-light);
    --scheme-text: var(--black-4);
    --scheme-heading: var(--theme-primary);
    --scheme-accent: var(--theme-accent-light);
    --scheme-border: var(--theme-border);
    --theme-tag: var(--magenta-4);
    --scheme-text-background: var(--theme-text-background-light);
}

/* Dark scheme + magenta theme */
html[data-scheme="dark"][data-theme="magenta"] {
    --scheme-background: var(--theme-dark);
    --scheme-text: var(--white-4);
    --scheme-heading: var(--theme-primary);
    --scheme-accent: var(--theme-accent-dark);
    --scheme-border: var(--theme-border);

    --theme-tag: var(--magenta-5);
    --scheme-text-background: var(--theme-text-background-dark);
}