:root[data-theme="teal"] {
    --theme-primary: var(--teal-5);
    --theme-light: var(--teal-8);
    --theme-dark: var(--teal-2);
    --theme-accent: var(--teal-6);
    --theme-border: var(--teal-4);
    --theme-hover: var(--teal-7);
}

/* Light scheme + teal theme */
html[data-scheme="light"][data-theme="teal"] {
    --scheme-background: var(--theme-light);
    --scheme-text: var(--theme-dark);
    --scheme-heading: var(--theme-primary);
    --scheme-accent: var(--theme-accent);
    --scheme-border: var(--theme-border);
    --scheme-hover: var(--theme-hover);
}

/* Dark scheme + teal theme */
html[data-scheme="dark"][data-theme="teal"] {
    --scheme-background: var(--theme-dark);
    --scheme-text: var(--theme-light);
    --scheme-heading: var(--theme-primary);
    --scheme-accent: var(--theme-accent);
    --scheme-border: var(--theme-border);
    --scheme-hover: var(--theme-hover);
}

html[data-theme="teal"] {
    .\:hc\:accent:hover {
        color: var(--color-accent-4);
    }

    .t\:dim {
        color: var(--color-dim-dark);
    }
} 