.resume .skill {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
}

.skill.ref {
    width: 400px;
    margin-bottom: -2px;
}

.skill.c {
    width: 220px;
}

.skill.csharp {
    width: 250px;
}

.skill.html5 {
    width: 300px;
}

.skill.css {
    width: 350px;
}

.skill.js {
    width: 225px;
}

.skill.d3js {
    width: 50px;
}

.skill.git {
    width: 250px;
}

.skill.svn {
    width: 100px;
}

.skill.beginner,
.skill.intermediate,
.skill.expert {
    width: 124px;
    display: inline-block;
    margin-bottom: 7px;
}

.skill.beginner {
    background-color: red;
}

.skill.intermediate {
    background-color: orange;
}

.skill.expert {
    background-color: green;
}

.skill.cleancode {
    width: 200px;
}

.skill.refactoring {
    width: 200px;
}
