body {
    padding: 0;
    margin: 0;
    background-color: #eee;
    color: #333;
    font-size: 20px;
    line-height: 24px;
    font-family: sans-serif;
}

header {
    background-color: #107896;
    padding: 30px;
}

section {
    width: 50%;
    margin: auto 20%;
    padding: 5%;
}

a {
    color: black;
    text-decoration: none;
    font-size: 1.3em;
    line-height: 1.5em;
    padding: 10px;
}

a:hover {
    color: #107896;
    background-color: #000;
}

ul {
    list-style: none;
}

h1 {
    font-size: 3em;
    line-height: 1.1em;
    color: #000;
}

.summary {
    padding: 20px;
    background-color: green;
    color: white;
}

.summary span {
    font-size: 2em;
}

article h1 {
    text-align: center;
}

article p {
    padding: 50px 20px;
    background-color: #c02f1d;
    color: white;
}

span.tag{
	padding: 2px 7px;
	margin: 2px;
	color: #000;
}

article .details{
	text-align: center;
}

.link.forward::before{
    content: 'click to read next';
}

.link.backward::before{
    content: 'go back to';
}

.sidebar{
    width: 300px;
    float:right;
}

.sidebar::after;{
    clear: both;
}